* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.board {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;

  background-image: url(https://images.unsplash.com/photo-1476820865390-c52aeebb9891?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80);
  background-position: center;
  background-size: cover;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Helvetica, Arial, sans-serif;
  color: #F69C7E;
}

header, footer {
  background-color: #F05A28;
  height: 60px;
  justify-content: center;
  color: rgb(66, 53, 53);
}

header h1 {
  font-size: 36px;
  padding-top: 10px;
}

footer span {
  padding: 20px;
}

.flex {
  display: flex;
}

.flex-one {
  flex: 1;
}

.list {
  width: 250px;
  border: 2px solid #0a5c96;
  margin: 20px;
  border-radius: 10px;
  color: #044d66;
}

.list .title {
  margin: 10px 10px;
  padding: 10px;
}

.list .item {
  padding: 10px;
  border-bottom: 1px solid #87290a;
}

.list input, button {
  color: #76260b;
  margin-left: 5px;
}

.list button {
  padding: 5px;
}

.heading {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #0a5c96;
}

.heading .title {
  width: 200px;
}

.heading .add {
  font-size: 30px;
  cursor: pointer;
}

.error {
  color: red;
}